page-fabu {

}
.fb-header{
    text-align: center;
}
.fabu-content{
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 10px;
}
.fb-row ion-col{
    border: #ebebeb solid 1px;
    margin: 2.5%;
    background-color: #ffffff;
}
.fb-row ion-col img{
    margin-top: 10px;
    width: 30px;
    height: 30px;
}
#none{
    border: none;
    background-color: #f9f9f9 !important;
}