page-fabuxx {

}
.fbxx-header ion-navbar ion-title{
    margin-left: 28%;
}
.fbxx-content{
    background-color: #f9f9f9;
}
.fbxx-content ion-item{
    border-bottom: 1.5px solid #f9f9f9 !important;
}
.fbxx-item-divider{
    border-bottom: 1.5px solid #f9f9f9 !important;
}
.fbxx-lab{
    color: #999999;
    width: 25%;
}
.fbxx-content ion-item-divider{
    color: #666666;
}
.textbox{
    border: none;
}
.fbxx-qd{
    margin-top: 10px;
}
.fbxx-btn{
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
}