page-fwxq {

}
.fwxq-color1{
    color: #c4c4c4 !important;
}
.fwxq-color2{
    color: #cc0033 !important;
}
.fwxq-color3{
    color: #000000 !important;
}
.fwxq-header{
    text-align: center;
}
.fwxq-navbar ion-title{
    float: left;
    margin-left: 27%;
    margin-top: 2%;
}
.fwxq-content{
    background-color: #f9f9f9 !important;
}
.fwxq-divider{
    border-bottom: 1px solid #eeeeee;
}
.fwxq-divider-01{
    float: left;
    color: #c4c4c4 !important;
}
.fwxq-divider-02{
    float: left;
    margin-left: 10%;
}
.fwxq-divider-02 img{
    width: 10%;
}
.fwxq-divider-03{
    position: absolute;
    top: 25%;
    right: -3%;
    padding: 0;
}
.fwxq-divider-03 img{
    width: 50%;
}
.fwxq-divider-03 p{
    font-size: 12px;
    margin-left: 2px;
    color: #c4c4c4 !important;
}
.fwxq-item{
    border-bottom: 1px solid #eeeeee !important;
}
.fwxq-item-d{
    float: left;
}
.fwxq-item-d p{
    float: left;
}
.fwxq-item-d .p2{
    margin: 0 25px 0 20px;
}
.fwxq-item3{
    margin-top: 10px;
    border-top: 1px solid #eeeeee !important;
    height: 20px;
}
.fwxq-item4 p{
    color: #666666;
}
.fwxq-item5{
    margin-top: 5px;
    border-top: 1px solid #eeeeee !important;
}
.fwxq-item5 .p1{
    float: left;
}
.fwxq-item5 .p2{
    float: left;
    margin-left: 5%;
}
.fwxq-item6{
    margin-top: 5px;
    height: 20px;
    border-top: 1px solid #eeeeee !important;
}
.fwxq-item8{
    margin-top: 5px;
    border-top: 1px solid #eeeeee !important;
}
.fwxq-item8 p{
    float: left;
}
.fwxq-item9{
    height: 20px;
    border-top: 1px solid #eeeeee !important;
}
.fwxq-footer{
    padding: 0 !important;
    text-align: center;
}
.fwxq-footer-d{
    float: left;
    padding: 0 !important;
}
.fwxq-f-d1{
    width: 40%;
    background-color: #ffffff !important;
}
.fwxq-f-d1 img{
    width: 30%;
    float: left;
    margin: 1% 0 0 2%;
}
.fwxq-f-d1 p{
    float: left;
    margin: 18px 0 0 10px;
}
.fwxq-f-d2 p{
    color: #ffffff;
}
#fw-f-d2-sp{
    color: #ffffff;
    font-size: 16px;
    padding: 0 3px 0 3px;
}
.fwxq-f-d2{
    width: 30%;
    background-color: #ff3366 !important;
}
.fwxq-f-d3{
    width: 30%;
    background-color: #fedb47!important;
}