page-set {

}
.set-content{
    text-align: center;
}
.set-item{
    border-bottom: 1.5px solid #f9f9f9 !important;
}
.set-item p{
    color: #000;
}
.set-item ion-label{
    font-size: 1.4rem;
}
.set-button{
    margin-top: 30px;
    width: 80%;
    height: 40px;
}