page-message {

}
.mess-content{
    background-color: #f9f9f9;
}
.mess-item{
    border-bottom: 1.5px solid #f9f9f9 !important;
}
.mess-item img{
    width: 20%;
    float: left;
    margin-right: 7%;
}
.mess-item-d-1{
    float: left;
    margin-top: 3%;
}
.mess-item-d-1 .p1{
    color: #000;
}
.mess-item-d-2{
    float: left;
    margin: 10% 0 0 8%;
}
