page-me {

}
.me-header{
    text-align: center;
}
.me-content{
    background-color: #f9f9f9;
}
.me-yh{
    text-align: center;
    padding-top: 15px;
    background-color: #ffffff;
}
.me-yh img{
    width: 18%;
    height: 18%;
}
.me-yh .p1{
    font-size: 18px;
}
.me-yh .p2{
    font-size: 10px;
    color: #d9d9d9;
}
.me-yh .p3{
    font-size: 14px;
    color: #999999;
}
.me-yh button{
    position: absolute;
    padding-top: 1px;
    top: 3%;
    right: 5%;
    width: 60px;
    height: 18px;
    font-size: 12px;
}
.me-item{
    border-bottom: 1.5px solid #f9f9f9 !important;
    height: 20px;
}
.me-item1{
    margin-top: 10px;
    border-top: 1.5px solid #f9f9f9 !important;
}
.me-item img{
    width: 8%;
    margin: 0 10% 0 5%;
    float: left;
}
.me-item p{
    float: left;
    text-align: inherit;
    color: #333333;
}
.me-item-2{
    border-top: 1.5px solid #f9f9f9 !important;
    margin-top: 5px;
}
.me-item-3{
    margin-bottom: 5px;
}