page-messinf {
    ion-footer{
        
    }
}
.mein-header{
}
.mein-header-nav-tit{
    margin-left: 25%;
}
.mein-content{
    text-align: center;
    background-color: #eeeeee;
}
.mein-t{
    color: #aeaeae;
}
.mein-d-1{
    width: 100%;
    height: 80px;
}
.mein-d-1 img{
    margin-left: 5%;
    width: 15%;
    float: left;
}
.mein-d-1 div{
    float: left;
    background-color: #ffffff;
    margin-top: 2%;
    margin-left: 3%;
    padding: 0 3% 0 3%;
    border-radius: 20px;
}
.mein-d-2{
    width: 100%;
    height: 50px;
}
.mein-d-2 img{
    width: 15%;
    float: right;
    margin-right: 5%;
}
.mein-d-2 div{
    float: right;
    text-align: left;
    background-color: #fedb47;
    margin-right: 3%;
    padding: 0 3% 0 3%;
    border-radius: 20px;
}