page-xixq {

}
.xixq-color1{
    color: #c4c4c4 !important;
}
.xixq-color2{
    color: #cc0033 !important;
}
.xixq-color3{
    color: #000000 !important;
}
.xixq-header{
    text-align: center;
}
.xixq-navbar ion-title{
    float: left;
    margin-top: 1.5%;
    margin-left: 27%;
}
.xixq-content{
    background-color: #f9f9f9 !important;
}
.xixq-divider{
    border-bottom: 1px solid #eeeeee;
}
.xixq-divider-01{
    float: left;
    color: #c4c4c4 !important;
}
.xixq-divider-02{
    float: left;
    margin-left: 10%;
}
.xixq-divider-02 img{
    width: 10%;
}
.xixq-divider-03{
    position: absolute;
    top: 25%;
    right: -3%;
    padding: 0;
}
.xixq-divider-03 img{
    width: 50%;
}
.xixq-divider-03 p{
    font-size: 12px;
    margin-left: 2px;
    color: #c4c4c4 !important;
}
.xixq-item{
    border-bottom: 1px solid #eeeeee !important;
}
.xixq-item-d{
    float: left;
}
.xixq-item-d p{
    float: left;
}
.xixq-item-d .p2{
    margin: 0 25px 0 20px;
}
.xixq-item3{
    margin-top: 10px;
    border-top: 1px solid #eeeeee !important;
}
.xixq-item4 p{
    color: #666666;
}
.xixq-item5{
    margin-top: 5px;
    border-top: 1px solid #eeeeee !important;
}
.xixq-item5 p{
    float: left;
    line-height: 30px;
}
.xixq-item5 img{
    float: left;
    width: 30%;
    margin-left: 5%;
}
.xixq-item6{
    margin-top: 5px;
    border-top: 1px solid #eeeeee !important;
}
.xixq-item8{
    margin-top: 5px;
}
.xixq-item8 p{
    float: left;
}
.xixq-footer{
    padding: 0 !important;
    text-align: center;
}
.xixq-footer-d{
    float: left;
    padding: 0 !important;
}
.xixq-f-d1{
    width: 40%;
    background-color: #ffffff !important;
}
.xixq-f-d1 img{
    width: 30%;
    float: left;
    margin: 1% 0 0 2%;
}
.xixq-f-d1 p{
    float: left;
    margin: 18px 0 0 10px;
}
.xixq-f-d2 p{
    color: #ffffff;
}
.xixq-f-d2{
    width: 30%;
    background-color: #ff3366 !important;
}
.xixq-f-d3{
    width: 30%;
    background-color: #fedb47!important;
}